body
{
  background:      ;/* couleur du fond */
  font-family: "Arial", sans-serif; /*définition de la police d'écriture*/
  color: ;      /*définition de la ouleur de la police*/
}

header
{

}

.banniere
{

}

article
{

}

aside
{

}

footer
{
  padding: 1em;

}

footer h1, nav a
{
    font-weight: normal;
}

#logo
{
    display: flex;
    align-items: center;
}

#logo img
{
    width: auto;
    height: 60px;
}

header h1, article h1, nav a
{
    font-size: 1.5em;   /*taille de la polise h1 en fonction de la police de base 1,5 fois + grand*/
    margin: 1em;
}

nav ul
{
    list-style-type: none;

}

nav li
{
    margin-right: 10px;
}

nav a
{
    font-size: 1.3em;
    color: #2f2d29;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #beb8b8;
}

#banniere_image
{
    height: 200px;
}

article,  aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
}

article p
{
    font-size: 0.8em;
}

article h1
{
    text-align: left;
}
aside
{
    background-color: ; /*définition de la couleur du fond du aside*/
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: ; /*couleur de la police du aside*/
    font-size: 0.9em;
}

aside h1
{
    text-align: center;
    font-size: 1.5em
}

.liens
{
    color: ; /*définition de la couleur des liens*/
}

.liens:hover
{
  color: ; /*définition de la couleur des liens lors d'un survol de la souris*/
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

aside img
{
    margin-right: 5px;
}

table
{
  border: 1;
  border-spacing: 0;
  width: 100%;
  border: 4px solid #afafaf;
}

th
{
  text-align: center;
  padding: 1em;
}

td
{
  text-align: left;
  padding: 1em;
}

tr
{
  background-color: ; /*définition de la couleur du fond des lignes du tableau*/
}

#social
{

}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

#videos
{
    width: 31%;
}

#des_photos
{
    width: 35%;
}

#sites_interessants
{
    width: 31%;
}

#des_photos img
{
    border: 1px solid #181818;
    margin-right: 1.2em;
}

#listes_sites
{

    margin-top: 0;
}

#sites_interessants ul
{
    list-style-image: url('images/ico_liensexterne.png');
    padding-left: 1.5em;
}

#sites_interessants a
{
  text-decoration: ; /*permet de souligner, surligner ou barrer un texte*/
  color: ; /*définition de la couleur de la police des liens footer*/
}
